<!-- https://houzez11.favethemes.com/ -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 租屋</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
    
</head>

<body>
    <div id="landing">
        <div class="ui stackable secondary menu" id="menu" style="background-image: url('img/background.png');background-size: cover !important;height: 120px;">
            <div class="item"><i class="building primary huge icon" ></i></div>
            <a class="item" id="header" href="index.html">首頁</a>
            <a class="item" id="header" href="/search">租房</a>
            <a class="item" id="header" href="contact.html">出租</a>
            <div class="right item">
                <div class="ui stackable list">
                    <div class="item">
                        <div class="right floated content">
                            <i class="globe icon"></i>
                            <span id="header"> 語言:</span>
                            <i class="uk flag"></i>
                            <a id="header" href="index.html">英文 | </a>
                            <i class="taiwan flag"></i>
                            <a id="header" href="index_zh.html">國語</a>
                            <a class="ui inverted basic white button" style="margin-left: 20px;" href="/login">登入</a>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
    </div>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="ui center aligned centered grid">
            <div class="column" style="max-width: 450px;">
              <h2 class="ui brown image header">
                <div class="content">
                    註冊帳號
                </div>
              </h2>
              <form class="ui large form" id = "signup">
                <div class="ui segment">
                    <div class="field">
                        <div class="ui input">
                            <input type="text" name="username" placeholder="User Name" id = "name">
                        </div>
						<div id="name-error" class="error"></div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" placeholder="E-mail address" id = "email">
                        </div>
						<div id="email-error" class="error"></div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password" id = "password">
                        </div>
						<div id="password-error" class="error"></div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="confirm password" placeholder="Confirm Password" id = "password2">
                        </div>
						<div id="password2-error" class="error"></div>
                    </div>
                                        
                  <div class="ui fluid brown submit button" id = "sign_btn">註冊</div>
                </div>
          
                <div class="ui error message"></div>
          
              </form>
          
              <div class="ui segment" style="height: 4em;">
                <span >已經申請過帳號了?</span>   <a class="ui brown right floated button" href="/login">登入</a>
                
              </div>
            </div>
          </div>

        
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="./js/app.js"></script>

</body>

</html>